<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div id="freewall" class="free-wall"></div>




  <!-- <div class="grid">
    <div class="grid-item">
      <masonry-layout id='grid'>
        <img src="https://picsum.photos/500" />
        <img src="https://picsum.photos/501" />
        <img src="https://picsum.photos/502" />
        <img src="https://picsum.photos/503" />
        <img src="https://picsum.photos/504" />
        <img src="https://picsum.photos/505" />
        <img src="https://picsum.photos/506" />
        <img src="https://picsum.photos/507" />
        <img src="https://picsum.photos/508" />
        <img src="https://picsum.photos/509" />
        <img src="https://picsum.photos/510" />
        <img src="https://picsum.photos/511" />
      </masonry-layout>
    </div>
  </div> -->




  <!-- <ngx-masonry>
    <div ngxMasonryItem class="masonry-item" *ngFor="let post of allPosts | async">
     <img class="border rounded" [src]="post.image.url | async ">
   </div>
  </ngx-masonry> -->



  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div *ngFor="let post of allPosts | async">
      <img class="border rounded" [src]="post.image.url | async ">
    </div>
  </div> -->

  <ion-grid>
    <ion-row>

      <ion-col>

      </ion-col>
      <!-- <ion-col>
        <ngx-masonry [options]="masonryOptions" [ordered]="true">
          <div ngxMasonryItem *ngFor="let image of masonryImages; index as idx">
            <div> {{idx}} </div>
            <ion-img id='img' [src]="image[1]"></ion-img>
          </div>
        </ngx-masonry>
      </ion-col> -->
      <!-- <ion-col *ngFor="let post of allPosts | async">
        <ion-card>
          <img [src]="post.image.url | async " />
          <div *ngIf="post.title" class="post-description">
            <small>{{ post.title }}</small>
          </div>
        </ion-card>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>


<!-- <ion-item>
            <ion-avatar item-start>
              <img src="assets/img/avatar/marty-avatar.png">
            </ion-avatar>
            <small>McFly</small>
            <p><small>Category</small></p>
          </ion-item> -->