<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div *ngIf="error?.length" class="alert alert-warning alert-dismissible fade show mb-4" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"
            (click)="dismissError($event)">
            <span aria-hidden="true">×</span>
          </button>
          <i class="fa fa-exclamation mx-2"></i>
          {{ error }}
        </div>
        <div class="card">
          <div class="card-body">
            <img class="auth-form__logo d-table mx-auto mb-3" [src]="logo" alt="FireAdmin">
            <h5 class="auth-form__title text-center mb-4">{{ 'SignInToYourAccount' }}</h5>
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="inputEmail">{{ 'EmailAddress' }}</label>
                <input type="email" class="form-control" id="inputEmail" name="inputEmail"
                  aria-describedby="emailHelp" placeholder="{{ 'EnterEmail' }}" [(ngModel)]="email">
              </div>
              <div class="form-group">
                <label for="inputPassword">{{ 'Password' }}</label>
                <input type="password" class="form-control" id="inputPassword" name="inputPassword"
                  placeholder="{{ 'Password' }}" [(ngModel)]="password">
              </div>
              <div class="form-group mb-3 d-table mx-auto">
                <div class="custom-control custom-checkbox mb-1">
                  <input type="checkbox" class="custom-control-input" id="rememberMe" name="rememberMe"
                    [(ngModel)]="rememberMe">
                  <label class="custom-control-label" for="rememberMe">{{ 'RememberMe'  }}</label>
                </div>
              </div>
              <button type="submit" class="btn btn-pill btn-accent d-table mx-auto">{{ 'SignIn'  }}</button>
            </form>
          </div>
          <div class="card-footer border-top">
            <ion-list>
              <ion-item>
                <ion-button (click)="registerWithGoogle()" expand="block" fill="clear" shape="round">
                  <i class="fab fa-google-plus-g"></i>
                </ion-button>
              </ion-item>
            </ion-list>
          </div>
        </div>
        <div class="auth-form__meta d-flex mt-4">
          <!-- <a>{{ 'ForgotYourPassword' }}</a> -->
          <ion-text (click)='goRegister()' color="primary">
            <ion-label>Create new account?</ion-label>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>