<ion-content>
  <div class="row">
    <div class="col-sm-12 col-lg-4">
      <div class="card card-small mb-4 pt-3">
        <div class="card-body p-0">
          <div class="user-details__avatar mx-auto">
            <img [src]="user?.avatar | async " alt="User Avatar">
          </div>
          <h4 class="text-center m-0 mt-2">{{ (user?.firstName || '') + ' ' + (user?.lastName || '') }}</h4>
          <p class="text-center text-light m-0 mb-2">{{ (allRoles[user?.role] || '') }}</p>
          <ul class="user-details__social user-details__social--primary d-table mx-auto mb-4">
            <li class="mx-1" *ngIf="canEditProfile()">
              
              <a [routerLink]="navigation.getRouterLink('users', 'edit', user?.id || '')" title="Edit User">
                <i class="far fa-edit"></i>
              </a>

              <!-- <ion-text (click)="openEditModal('users', 'edit')" color="primary">
                <i class="far fa-edit"></i>
                Edit Modal
              </ion-text> -->
            </li>
          </ul>
          <div>
            <div>
              <div>
                <span>{{ 'FirstName' }}</span>
                <span>{{ user?.firstName || '' }}</span>
              </div>
              <div
              
              >
                <span>{{ 'LastName' }}</span>
                <span>{{ user?.lastName || '' }}</span>
              </div>
            </div>
            <div class="row">
              <div
              
              >
                <span>{{ 'Email' }}</span>
                <span>{{ user?.email || '' }}</span>
              </div>
              <div class="col w-50">
                <span>{{ 'BirthDate' }}</span>
                <span>{{ (user?.birthDate) || '' }}</span>
              </div>
            </div>
          </div>
          <div class="user-details__tags border-top p-4" *ngIf="user?.bio">{{ user.bio }}</div>
        </div>
      </div>
    </div>
    <div class="col-lg-8">

      <div class="card card-small user-stats mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-6 col-sm-3 text-center">
              <h4 class="m-0">{{ statistics?.posts || 0 }}</h4>
              <span class="text-light text-uppercase">{{ 'Posts' }}</span>
            </div>
            <div class="col-6 col-sm-3 text-center">
              <h4 class="m-0">{{ statistics?.publishedPosts || 0 }}%</h4>
              <span class="text-light text-uppercase">{{ 'Published' }}</span>
            </div>
            <div class="col-6 col-sm-3 text-center">
              <h4 class="m-0">{{ statistics?.comments || 0 }}</h4>
              <span class="text-light text-uppercase">{{ 'Comments' }}</span>
            </div>
            <div class="col-6 col-sm-3 text-center">
              <h4 class="m-0">{{ statistics?.pages || 0 }}</h4>
              <span class="text-light text-uppercase">{{ 'Pages' }}</span>
            </div>
          </div>
        </div>
      </div>


      <div class="card card-small lo-stats mb-4">
        <div class="card-header border-bottom">
          <h6 class="m-0">{{ 'LatestPosts' }}</h6>
          <div class="block-handle"></div>
        </div>
        <div class="card-body p-0">
          <table class="table mb-0">
            <thead class="py-2 bg-light text-semibold border-bottom">
              <tr>
                <th class="text-left" colspan="2">{{ 'PostTitle'  }}</th>
                <th class="text-center">{{ 'PostDate'  }}</th>
                <th class="text-center">{{ 'PostStatus'  }}</th>
                <th class="text-center">{{ 'Categories'  }}</th>
                <th class="text-right">{{ 'Actions'  }}</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngIf="latestPosts | async as posts; else loadingPostsTemplate">
                <tr *ngFor="let post of posts">
                  <td class="lo-stats__image">
                    <img class="border rounded" [src]="post.image.url | async ">
                  </td>
                  <td class="lo-stats__order-details">
                    <span>{{ post.title }}</span>
                    <span>{{ '/' + post.slug }}</span>
                  </td>
                  <td class="text-center">{{ post.date }}</td>
                  <td class="text-center">
                    <span
                      class="badge badge-pill badge-{{ allPostsStatus.colors[post.status] || 'primary' }}">{{ allPostsStatus.labels[post.status] }}</span>
                  </td>
                  <td class="text-center text-primary">
                    <ng-container *ngFor="let categoryId of post.categories; let i = index">
                      <!-- <i *ngIf="i > 0">, </i>
                      <a
                        [routerLink]="navigation.getRouterLink('posts', 'list', 'category', categoryId)">{{ allPostsCategories[categoryId]?.label }}</a> -->
                    </ng-container>
                  </td>
                  <td class="text-right">
                    <div class="btn-group btn-group-sm" role="group" aria-label="Table row actions">
                      <!-- <button *ngIf="post.isTranslatable" type="button" class="btn btn-white active-light"
                        title="{{ 'Translate' }}"
                        [routerLink]="navigation.getRouterLink('posts', 'translate', post.id)">
                        <i class="material-icons">translate</i>
                      </button>
                      <ion-button type="button" class="btn btn-white active-light" title="{{ 'Edit' }}"
                        [routerLink]="navigation.getRouterLink('posts', 'edit', post.id)">
                        <i class="material-icons">edit</i>
                      </ion-button> -->
                    </div>
                  </td>
                </tr>
              </ng-container>
              <ng-template #loadingPostsTemplate>
                <tr>
                  <td class="text-center" colspan="6">
                    post table test
                  </td>
                </tr>
              </ng-template>
            </tbody>
          </table>
        </div>

      </div>

    </div>
  </div>
</ion-content>