<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Raspberry UI</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="media">
      <ion-icon name="images"></ion-icon>
      <ion-label>Media</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" (click)='navigateToProfile()'>
      <ion-icon name="square"></ion-icon>
      <ion-label>{{ getUserName() }}: Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
